@import './waline.css';

@import "tailwindcss";

.right-2 {
  right: 0.5rem;
}

.top-2 {
  top: .5rem;
}

.bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81/var(--tw-bg-opacity));
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219/var(--tw-text-opacity));
}

.border-green-400 {
  --tw-border-opacity: 1;
  border-color: rgb(74 222 128 / var(--tw-border-opacity));
}

.text-green-400 {
  --tw-text-opacity: 1;
  color: rgb(74 222 128 / var(--tw-text-opacity));
}

.task-list-item::before {
  display: none;
}

.task-list-item {
  list-style-type: none;
}

.footnotes {
  margin-top: 3rem;
  border-top: 1px solid rgb(229 231 235);
  padding-top: 2rem;
}
.footnotes.dark {
  border-top-color: rgb(55 65 81);
}

.data-footnote-backref {
  text-decoration: none;
}

.csl-entry {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.overflow-y-auto::-webkit-scrollbar {
  width: 2px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
  border-radius: 5px;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

.water {
  position: relative;
  width: 100%;
  height: .8rem;
  margin-bottom: -7px;
  min-width: 100%;
  min-height: 100px;
  background: #fff;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
