#waline {
    --waline-theme-color: rgb(59 130 246);
    --waline-active-color: rgb(37 99 235);
}

#waline .wl-comment {
    gap: 1rem;
}

#waline .wl-panel {
    margin: 0;
}

#waline .wl-editor {
    width: calc(100% - 2.4rem);
}